<form action="/<%= @gene.id %>" method="POST">
  <div>
    <label>Name</label>
    <input type="text" name="name" placeholder="Enter a name" value="<%= @gene.name %>">
  </div>

  <div>
    <label>Protein</label>
    <textarea name="protein"><%= @gene.protein %></textarea>
  </div>

   <div>
    <label>Chromosome</label>
    <textarea name="chromosome"><%= @gene.chromosome %></textarea>
  </div>

   <div>
    <label>Location</label>
    <textarea name="chromosome"><%= @gene.location %></textarea>
  </div>

  <div>
    <input type="submit" value="Save Gene">
  </div>
  <% if(@post.id) %>
    <input type="hidden" name="_method" value="PUT">
  <% end %>
</form>